body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.quiz-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.options {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options li {
  margin: 10px;
  flex: 0 0 calc(50% - 20px); 
  max-width: calc(50% - 20px);
}

button {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4ca3af;
  color: #fff;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #09a514;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 600px) {
  .options li {
      flex: 0 0 calc(100% - 20px); 
      max-width: calc(100% - 20px);
  }
}
